<!DOCTYPE html>
<html>
	<head>
		<title>Monitoring</title>
	</head>
	<link rel='stylesheet' type='text/css' href='/css/style.css'>
	<body>

		<div style="margin-bottom: 20px">
			<canvas id="smoothieCanvas" width="685" height="200"></canvas>
		</div>
		<input type="text" id="topic" name="topic" width="200">
		<input type="submit" value="Get data" id="send" name="send">

		<br>
		<div id="container">
		
		</div>

		<script type="text/javascript" src="/js/socket.io-1.3.5.js"></script>
		<script type="text/javascript" src="/js/smoothie.js"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript">
			// Change the selector if needed
			var $table = $('table.scroll'),
			  $bodyCells = $table.find('tbody tr:first').children(),
			  colWidth;

			// Adjust the width of thead cells when window resizes
			$(window).resize(function() {
			  // Get the tbody columns width array
			  colWidth = $bodyCells.map(function() {
			    return $(this).width();
			  }).get();
			  
			  // Set the width of thead columns
			  $table.find('thead tr').children().each(function(i, v) {
			    $(v).width(colWidth[i]);
			  });    
			}).resize(); // Trigger resize handler
		</script>
		<script type="text/javascript" src="/js/socket-client.js"></script>
	</body>
</html>